<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="css/Library.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">

  <title>ImageGen</title>
</head>

<body>
  <div class="container-fluid">
    <div class="row">
      <!-- Navigation Bar -->
      <div class="col-2 p-4">
        <div class="nav-bar">
          <p style="color: aliceblue; padding-top: 15px;">Image Generator</p>
          <div class="nav-item" onclick="goToHome()">
            <i class="fa-solid fa-house"></i>
            <span>Home</span>
          </div>
          <div class="nav-item" onclick="goToLibrary()">
            <i class="fa-solid fa-icons"></i>
            <span>Library</span>
          </div>
          <div class="nav-item" onclick="goToImageGen()">
            <i class="fa-regular fa-image"></i>
            <span>Image Generation</span>
          </div>
          <div class="nav-item" onclick="goToUpgradePlan()">
            <i class="fa-solid fa-basket-shopping"></i>
            <span>Upgrade Plan</span>
          </div>
          <div class="nav-item" onclick="goToSetting()">
            <i class="fa-solid fa-gear"></i>
            <span>Setting</span>
          </div>
        </div>
      </div>

      <!-- Main Content Area -->
      <div class="col-10 p-4">
        <h1 style="text-align: center; color: aliceblue;">Generations</h1>
        <div class="generations-card mt-4">

          <div class="row" id="generation-row" style="justify-content: space-around;">
            <!-- Images will be dynamically inserted here -->
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="imageModal" class="modal">
    <div id="position-aim">
      <div class="modal-content-wrapper">
        <span class="close">&times;</span>
        <img class="modal-content" id="modalImage">
      </div>
    </div>
  </div>

  <script>
    const imageUrls = JSON.parse(decodeURIComponent('<%= imageUrls %>'));

    document.addEventListener("DOMContentLoaded", function () {
      const generationRow = document.getElementById('generation-row');

      imageUrls.forEach(image => {
        const imgElement = document.createElement('div');
        imgElement.className = 'col-3 generation-item';
        imgElement.style.justifyContent = "space-around";
        imgElement.innerHTML = `<div class="image-wrapper">
            <img src="${image.url}" alt="${image.alt}" class="img-fluid">
            <div class="overlay">
              <button class="download-btn" onclick="downloadImage('${image.url}')"><i class="fa-solid fa-download"></i>download</button>
            </div>
          </div>`;
        generationRow.appendChild(imgElement);
      });

      document.querySelectorAll('.image-wrapper img').forEach(img => {
        img.addEventListener('click', function () {
          const modal = document.getElementById("imageModal");
          const modalImg = document.getElementById("modalImage");
          modal.style.display = "block";
          modalImg.src = this.src;
        });
      });

      document.querySelector('.close').onclick = function () {
        document.getElementById("imageModal").style.display = "none";
      };
    });

    function downloadImage(url) {
      const link = document.createElement('a');
      link.href = url;
      link.download = url.split('/').pop();
      link.click();
    }

    function goToHome() {
      window.location.href = '/mainpage';
    }

    function goToLibrary() {
      window.location.href = '/library';
    }

    function goToImageGen() {
      window.location.href = '/imagegen';
    }

    function goToUpgradePlan() {
      window.location.href = '/upgradeplan';
    }

    function goToSetting() {
      window.location.href = '/setting';
    }
  </script>
</body>

</html>