<!DOCTYPE html>
<html lang="en">
<head>
  <head>
    <link rel="stylesheet" href="css/UpgradePlan.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
    <title>ImageGen</title>
  </head>
<body>
  <div class="container">
    <div class="nav-bar" onclick="goToHome()">
      <i class="fas fa-arrow-left"></i>
      <span>Home</span>
    </div>

      <h2>SELECT YOUR PLAN!</h2>

      
    <div class="plan-cards">
      <div class="plan-card">
        <h2>Subscription Plan</h2>
        <img src="images/UpgradePlanPic.svg">
        <p>Price/month</p>
        <ul>
          <li>Benefit 1</li>
          <li>Benefit 2</li>
          <li>Benefit 3</li>
        </ul>
        <button class="button">Select Plan</button>
      </div>

      <div class="plan-card">
        <h2>Subscription Plan</h2>
        <img src="images/UpgradePlanPic.svg">
        <p>Price/month</p>
        <ul>
          <li>Benefit 1</li>
          <li>Benefit 2</li>
          <li>Benefit 3</li>
        </ul>
        <button class="button">Select Plan</button>
      </div>

      <div class="plan-card">
        <h2>Subscription Plan</h2>
        <img src="images/UpgradePlanPic.svg">
        <p>Price/month</p>
        <ul>
          <li>Benefit 1</li>
          <li>Benefit 2</li>
          <li>Benefit 3</li>
        </ul>
        <button class="button">Select Plan</button>
      </div>
    </div>
  </div>
</body>

<script>
  function goToHome() {
    // Redirect to Home
    window.location.href = '/mainpage';
  }
</script>
</html>