@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(0deg, rgba(3, 18, 37, 0.95), rgba(7, 36, 73, 0.95));
    height: 100vh;
    color: #F5F7F9;
    font-family: 'Poppins', sans-serif;
    
}

.nav-bar {

    height: 100%;
    background-color: #031225;
    position: fixed;
    left: 0;
    top: 0;
    padding: 20px;
    box-sizing: border-box;
}

.nav-title {
    color: aliceblue;
    padding-top: 15px;
}

.nav-item {
    display: flex;
    align-items: center;
    color: #EDF2F6;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.nav-item:hover {
    background-color: #555;
}

.nav-item i {
    margin-right: 30px;
}

.content {
    margin-left: 360px;
    padding: 20px;
}

.profile-card {
    background-color: #1c2b3a;
    padding: 20px;
    border-radius: 15px;
}

.avatar {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.generations-card {
    background-color: #1c2b3a;
    padding: 20px;
    border-radius: 15px;
    margin-top: 20px;
    
}

.generation-item {
    flex: 1 1 22%;
    margin: 0.5%;
    overflow: hidden;
    box-sizing: border-box;
}

.generation-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
